html{
    background-color: rgb(25 2 0 / 0.5);
}

element.style {
    min-height: 630px;
}
.collection-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    
}
.collection-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.card-collection {
    text-align: center;
    padding-top: 170px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #222020f8,#353333);
}
::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgb(231, 53, 21), rgb(40, 29, 190));
}

.card {
    width: 200px;
    margin: 10px 5px;
    height: 280px;
    cursor: pointer;
    transition: all .3s ease;
    display: none;
}

card.starter img.card-img, .card.starter .card-stats-container {
    opacity: .7;
}
.card-img {
    width: 200px;
    height: 280px;
    box-shadow: 0 0 10px black;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}

.card.beta .card-level {
    top: -62px;
    left: 20px;
    width: 160px;
    border-radius: 3px;
    background-color: black;
}

.card-level {
    position: absolute;
    top: -73px;
    background-color: #4a4a4a;
    width: 162px;
    left: 19px;
    height: 6px;
}
.relative-position {
    position: relative;
    height: 0;
    width: 0;
}

.stat-mana {
    position: absolute;
    top: -280px;
}
.stat-mana img {
    height: 50px;
}

.stat-text-mana {
    position: absolute;
    top: 4px;
    width: 46px;
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: nanami-heavy;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px black;
}

.stat-speed {
    position: absolute;
    top: -152px;
    left: -6px;
}

.stat-speed img {
    height: 43px;
}

.stat-health {
    position: absolute;
    top: -152px;
    left: 157px;
}

.card.beta .abilities, .card_back.beta .abilities {
    top: -55px;
}
.abilities {
    position: absolute;
    top: -69px;
    left: 19px;
    width: 162px;
    height: 54px;
    padding-top: 5px;
}
 
.card.beta .card-name, .details-card.beta .card-name, .card_back.beta .card-name {
    background: transparent;
}

.red {
    color: #ff8484;
}

.card-name {
    position: absolute;
    width: 162px;
    left: 19px;
    top: -97px;
    height: 25px;
}

.card-name-text {
    top: -91px;
}
.card-name-text {
    font-family: ruba;
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    color: white;
    font-size: 16px;
    position: absolute;
    left: 19px;
    width: 162px;
    height: 25px;
    padding: 0 5px;
    text-shadow: 2px 2px 3px black;
}

.card-qty {
    position: absolute;
    height: 33px;
    width: 35px;
    top: -282px;
    left: 144px;
}
.stat-speed .stat-text {
    left: 2px;
    top: 4px;
}

.stat-text {
    position: absolute;
    top: 6px;
    left: 8px;
    color: white;
    font-size: 27px;
    width: 30px;
    text-align: center;
    font-family: nanami-heavy;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px black;
}

.stat-magic img, .stat-ranged img, .stat-attack img, .stat-armor img, .stat-health img {
    height: 52px;
}

.card .abilities img, .details-card .abilities img {
    transition: transform .25s ease-in-out;
}
.abilities img {
    width: 40px;
}
.stat-attack {
    position: absolute;
    top: -199px;
    left: -11px;
}
.stat-magic img, .stat-ranged img, .stat-attack img, .stat-armor img, .stat-health img {
    height: 52px;
}
.stat-text {
    position: absolute;
    top: 6px;
    left: 8px;
    color: white;
    font-size: 27px;
    width: 30px;
    text-align: center;
    font-family: nanami-heavy;
    -webkit-text-stroke: 1.5px black;
    text-shadow: 2px 2px black;
}

.card.beta .abilities, .card_back.beta .abilities {
    top: -55px;
}
.abilities {
    position: absolute;
    top: -69px;
    left: 19px;
    width: 162px;
    height: 54px;
    padding-top: 5px;
}
.stat-armor {
    position: absolute;
    top: -199px;
    left: 157px;
}
.stat-magic img, .stat-ranged img, .stat-attack img, .stat-armor img, .stat-health img {
    height: 52px;
}

.stat-ranged {
    position: absolute;
    top: -199px;
    left: -11px;
}

.stat-magic img, .stat-ranged img, .stat-attack img, .stat-armor img, .stat-health img {
    height: 52px;
}
.stat-magic {
    position: absolute;
    top: -199px;
    left: -11px;
}
.card.beta .summoner-stats, .card_back.beta .summoner-stats {
    top: -58px;
}
.stat-magic-summoner, .stat-ranged-summoner, .stat-attack-summoner, .stat-armor-summoner, .stat-health-summoner, .stat-speed-summoner {
    margin: 0 5px;
}
.stat-magic-summoner img, .stat-ranged-summoner img, .stat-attack-summoner img, .stat-armor-summoner img, .stat-health-summoner img {
    height: 52px;
}
.summoner-stats img.ability {
    width: 45px;
    height: 45px;
    margin: 5px;
    text-align: center;
    padding-top: 170px;
}
.ability{
    text-align: center;
    padding-top: 170px;
 } 
.summoner-stats {
    position: absolute;
    top: -69px;
    display: flex;
    width: 163px;
    left: 19px;
    justify-content: center;
}
.summoner-stats .stat-text {
    position: relative;
    top: -44px;
    left: 1px;
}

.allcard{
    position: absolute;
    top: 150px;
    margin-left: 170px;
}

header{
    display: flex;
}

.filter{
    display: flex;
    position: absolute;
    text-align: center;
    height: 100px;
    left: 20%;
    width: 75%;padding: 0;
    position: fixed;
    background-color: rgb(159 35 222 / 90%);
    z-index: 1;
    border-radius: 5px;
    justify-content: space-between;
    /* justify-content: center; */
}

.role{
    position: relative;
    top: 25px;
    left: 100px;
}

.splinter{
    position: relative;
    max-height: 30px;
    /* padding-top: 5px; */
    padding-right: 5px;
    border-radius: 5px;
    top: 25px;
    left: 250px;
    display: flex;    
    /* background: linear-gradient(to right, rgb(223, 56, 35), rgb(174, 174, 180)); */
    background-image: linear-gradient(to right,rgb(240, 60, 47), rgb(48, 208, 230), rgb(37, 233, 37), rgb(253, 219, 219), rgb(140, 49, 214), yellow, white);
}
.load {
    display: inline-block;
    position: relative;
    top: 50%;
    left: -55%;
    /* margin:  auto; */
}
.card-name-name {
    text-align: left;
}
.checkbox_filter{
    margin-left: 10px;
}
.collection-cards .card:hover {
    box-shadow: 0 0 20px white;
    transform: scale(1.1);
}
.stat-speed-summoner img {
    height: 43px;
}
.card-name-name.sm {
    font-size: 90%;
}
.card-collection-row {
    text-align: center;
    padding-top: 170px;
}
.card-name.red {
    background: linear-gradient(#4a0603,#f45f3c);
}
.card-name-name.xs, .card-name-name.xxs {
    font-size: 80%;
}
/* footer{
    margin: 0 auto;
} */
.add_container{
    /* margin: 0 auto; */
    /* display:flow-root; */
    position: fixed;
    top: 0%;
    z-index: 1;
    left: 0;
    background-color: rgb(159 35 222 / 90%);
    width: 20%;
    border-radius: 5px;
    max-width: 200px;
    min-height: 90%;
}
.instruct{
    /* margin: 0 auto; */
    margin-bottom: 10px;
}
.card_container{
    position: relative;
    left: 0px;
    top: 50px;
    max-height: 80%;
    min-width: 80%;
    border-radius: 4%;
}
.card_container__summonerStrategy{
    background-color: rgb(223, 101, 101);
    min-width: 75px;
    min-height: 50px;
    margin: 5px;
    border-radius: 4px;
}
.card_container__monsterStrategy{
    background-color: rgb(231, 167, 170);
    min-width: 75px;
    min-height: 50px;
    margin: 3px;
    border-radius: 3px;
}

.requirement{
    position: absolute;
    display: flex;
    flex-direction: column;
}
#add_new_btn{
    position: relative;
    bottom: -50px;
    display: flex;
    margin: 0 auto;
}


/* MODAL */
.modal{
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s; 
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
}
.table_data{
    overflow-y: auto;
    z-index: 3;
    width: 900px;
    height: 500px;
    border: rgb(190, 112, 57) solid 2px;
    border-radius: 5px;
    background-color: #b8e6e6;
    position: fixed;
    max-width: 75%;
    left: 12%;
    max-height: 75%;
    top: 12%;
    overflow: hidden;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:hover {
    background-color: #ddd;}
    
table{
    position: relative;
    width: 100%;
    /* height: 100%; */
    /* border: 1px solid black; */
    /* overflow: auto; */
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    overflow-y:scroll;
}
tr{
    max-height: 40px;
}
td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(211, 62, 62);
    padding: 8px;
}
th{
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background-color: #33c1da;
    color: rgb(223, 74, 74);
}
.imgcardcontainer{
    width:80px;
    height: 50px;
    /* background-position: center;
    background-size: cover; */
    overflow: hidden;
    border-radius: 4px;
    border: solid 2px rgb(233, 193, 188);
}
.cardimg{
    width: 200px;
    height: 280px;
    margin: -80px -100px -80px -60px;
    transform: scale(0.5);
}
.card_container__summonerStrategy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.manacostStrategy{
    margin: 9px;
    border: solid 2px;
    border-radius: 10px;
    text-align: center;
    min-width: 20px;
    position: absolute;
    right: 2px;
    background-color: rgba(13, 218, 236, 0.44);
}
.manacost_input{
    max-width: 60px;
    margin: 0 auto;
}
 select{
    max-width: 80px;
    margin: 0 auto;
}
.card-nameStrategy{
    margin: 5px;
}
.card_container__monsterStrategy{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
}

.card_img_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    display: flex;
    z-index: 2;
  }

  .filled:hover .card_img_overlay {
    opacity: 0.8;
  }
.card_icon{
    display: flex;
    /* justify-content: space-around; */
}
i.remove_card_btn{
    font-size:xx-large;
    margin: auto;
    color: red;
}